
@{
    ViewBag.Title = "Error";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorView</title>
    
</head>

<body>
    <fieldset>
        <p>La requête que vous demandez n'a pas aboutie. Veuillez relancer l'application</p>
    </fieldset>
       
</body>
</html>


